TOMAR LOS DATOS DE VELAS Y CALCULAR EL RSI

In [1]:
import pandas as pd

In [9]:

data = pd.DataFrame({"A": [1, 2, 3, 4, 5, 6, 7, 8, 9, 10], "B": [11, 12, 13, 14, 15, 16, 17, 18, 19, 20], "C": [21, 22, 23, 24, 25, 26, 27, 28, 29, 30]})

In [10]:
data

    A   B   C
0   1  11  21
1   2  12  22
2   3  13  23
3   4  14  24
4   5  15  25
5   6  16  26
6   7  17  27
7   8  18  28
8   9  19  29
9  10  20  30

In [12]:
data = data.iloc[3:]
data

Empty DataFrame
Columns: [A, B, C]
Index: []